#!/usr/bin/make -f

-include /usr/share/gnome-pkg-tools/1/rules/gnome-get-source.mk

export DEB_LDFLAGS_MAINT_APPEND = -Wl,-O1 -Wl,--as-needed

%:
	dh $@ --with gir,gnome

override_dh_autoreconf:
	dh_autoreconf --as-needed

ifeq ($(DEB_HOST_ARCH_OS),willnotmatch)
CONFFLAGS = \
	--enable-wayland \
	--enable-native-backend
else
CONFFLAGS += \
	--disable-wayland-egl-platform \
	--disable-wayland-egl-server \
	--disable-kms-egl-platform \
	--disable-wayland \
	--disable-native-backend
endif

CONFFLAGS += --disable-xlib-egl-platform

override_dh_auto_configure:
	dh_auto_configure -- \
		--libexecdir="\$${prefix}/lib/mutter" \
		--enable-startup-notification \
		--enable-compile-warnings \
		$(CONFFLAGS)

override_dh_install:
	dh_install --list-missing

override_dh_girepository:
	dh_girepository /usr/lib/$(DEB_HOST_MULTIARCH)/mutter

override_dh_makeshlibs:
	dh_makeshlibs -V'libmutter0i (>= 3.21.0)'

override_dh_strip:
	dh_strip --dbgsym-migration='mutter-dbg (<< 3.18.3-2~)'

override_dh_auto_clean:
	dh_auto_clean
	rm -f Makefile cogl/config.log cogl/config.lt cogl/libtool 
	rm -f confdefs.h config.h config.log config.status libtool stamp-h1
	rm -f data/Makefile doc/Makefile doc/man/Makefile
	rm -f po/Makefile po/Makefile.in po/POTFILES
	rm -f src/Makefile src/compositor/plugins/Makefile src/libmutter.pc src/meta/meta-version.h
	rm -rf cogl/test-fixtures/.libs
	rm -rf cogl/cogl/.libs

